.btn-add {
  background-color: rgb(234, 30, 30);
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background-color: rgb(233, 65, 65);
}

.display-characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1.5rem;
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  .display-characters {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .display-characters {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (max-width: 767px) {
  .display-characters {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 479px) {
  .display-characters {
    grid-template-columns: repeat(1, 1fr);
  }

}


