<ng-container *ngFor="let character of characters">
  <ng-container *ngIf="character">
    <a routerLink="/detalles/{{ character.id }}">
      <h2>{{ character.name }}</h2>
    </a>
    <figure class="characterImage">
      <a routerLink="/detalles/{{ character.id }}">
        <img
          [ngSrc]="
            'assets/' +
            character.thumbnail.path +
            '.' +
            character.thumbnail.extension
          "
          alt="Personaje de animación {{ character.name }}"
          height="450"
          width="450" />
      </a>
    </figure>
  </ng-container>
  <ng-container *ngIf="!character">
    No hay resultados de personajes.
  </ng-container>
</ng-container>
