.card-container {
  box-sizing: border-box;
  width: 20vw;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  // margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.card-container a {
  text-decoration: none;
}


.card-container:hover > a > figure > img {
  transform: scale(1.1);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-content {
  padding: 16px 24px 6px 16px;
  gap: 16px;
  color: white;
  position: relative;
  border-top: 6px solid #e62429;
  background-color: #e62429;
  overflow: hidden;
  cursor: pointer;

  .btn__text-dynamic,
  .btn__text-dynamic-inner {
    padding: 16px 24px 6px 16px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
    transition: all ease 0.5s;
  }

  .btn__text-dynamic {
    background-color: #151515;
    color: white;
    overflow: hidden;
  }

  &:hover {
    .btn__text-dynamic {
      transform: translateX(-100%);
    }
    .btn__text-dynamic-inner {
      transform: translateX(100%);
    }
  }
}

// Efecto cover
.btn--animation-from-top {
  &:hover {
    .btn__text-dynamic {
      transform: translateY(100%);
    }
    .btn__text-dynamic-inner {
      transform: translateY(-100%);
    }
  }
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info {
  font-size: 14px;
  color: #bbb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.card-image {
  margin: 0;
  overflow: hidden;
  height: 25em;
}

.spaced-8{
  display: grid;
  gap: 2em;
}


@media screen and (min-width: 1024px) {
  .card-container {
    width: 20vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    width: 30vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card-container {
    width: 100%;
  }
}


