main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(160, 160, 160);
  margin-top: 9em;
}


@media screen and (max-width: 767px) {
  main {
    margin-top: 5em;
  }
}
