.serie-card-inner {
  display: flex;
  width: 100%;
}

.serie-image {
  cursor: pointer;
  width: 40%; /* Ancho de la imagen */
  padding: 20px;
}

.serie-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.serie-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.serie-details {
  width: 60%; /* Ancho de los detalles */
  padding: 20px;
}

/* Estilos para pantallas móviles */
@media (max-width: 768px) {
  .serie-card-inner {
    flex-direction: column;
  }

  .serie-image,
  .serie-details {
    width: 100%; /* Asegura que ocupen todo el ancho en móviles */
  }

  .serie-image {
    padding-bottom: 0;
  }

  .serie-description {
    font-size: 18px;
  }
}
