<mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30">
</mat-progress-spinner>
<ng-container *ngIf="!loading">
  <app-search-bar (search)="onSearch($event)"></app-search-bar>
  <ng-container *ngIf="totalCharacters > 0; else noCharacters">
    <app-character [characters]="characters"></app-character>
  </ng-container>
  <ng-template #noCharacters>
    <div class="alert alert-warning" role="alert">
      No hay personajes que coincidan con tu búsqueda.
    </div>
  </ng-template>
  <app-pagination
    (cambiarPagina)="cambiarPagina($event)"
    [texto]="true"
    [totalRegistros]="totalCharacters"
    [registroActual]="posicionactual + 1"
    [registrosPorPagina]="registrosporpagina"></app-pagination>
</ng-container>
