.section-title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.highlighted-text {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgb(234, 30, 30);
  color: #FFFFFF;
  padding: 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn-close {
  background-color: #fff;
  color: #000000;
}

.btn-add {
  background-color: rgb(234, 30, 30);
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  background-color: rgb(233, 65, 65);
}

textarea {
  resize: none;
  overflow: hidden;
  /* min-height: 60px; */
  max-height: 120px;
}

.min-height {
  min-height: calc(100vh - 120px);
}

.bg-color-1 {
  background-color: #363636;
}

.modal-header {
  border-bottom: 1px solid #717171;
}

.modal-footer {
  border-top: 1px solid #717171;
}

.form-control {
  color: #ffffff;
  background-color: #767676;
}
.form-control::placeholder {
  color: #aaaaaa;
}

.form-label, .modal-title {
  color: #ffffff;
}

.form-text {
  color: #666
}

.error-message {
  margin-top: 5px;
  color: red;
}

.btn-location {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.scrollable-content {
  max-height: 70vh; /* Establece la altura máxima que desees */
  overflow-y: auto;  /* Agrega una barra de desplazamiento vertical cuando sea necesario */
}

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgb(194, 194, 194);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}
