.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper1200{
  max-width: 1200px;
  margin: auto;
}

.header{
  background-color: #202020;
  color: #fff;
  border-bottom: 1px solid rgb(54, 54, 54);
}
.desktop-header{
  font: 900 12px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.access-buttons, .logo-marvel{
  text-align: center;
  display: flex;
  flex-direction: row;
}

.access-buttons, .search-button{
  align-items: center;
  word-wrap: none;
  padding: 1em 2em;
  border-left: 1px solid rgb(54, 54, 54);
  border-right: 1px solid rgb(54, 54, 54);
}

.search-button > button > mat-icon{
  font-size: 24px;
}

.creditcard img {
  height: 1.5em;
  vertical-align: bottom;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-marvel{
  margin: 0;
  vertical-align: bottom;
}
.logo-marvel svg{
  height: 100%;
  vertical-align: bottom;
}

.header-menu{
  background-color: #202020;
  color: #fff;
}
.header-menu:hover{
  color: gray;
}
.desktop-header-menu{
  font: 900 12px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: all 0.5s ease-in-out;
}
.item-menu{
  transition: color 0.3s ease;
  text-align: center;
  margin: 0;
  margin-bottom: 2px;
  padding: 1em;
}

.available {
  cursor: pointer;
  transition: color 0.3s ease;
}

.available:hover {
  color: #fff;
  border-bottom: 2px solid red;
}

.icon {
  color: rgb(234, 30, 30);
  font-size: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-74 {
  margin-left: 74px;
}

.hidden {
  transform: translateY(-100%);
}

.hamburger {
  display: none;
}
.remove-on-mobile {
  display: flex;
}

@media screen and (max-width: 767px) {

  .remove-on-mobile {
    display: none;
  }

  .access-buttons, .search-button{
    border: none;
  }

  .hamburger {
    display: block;
  }

  .unavailable {
    color: #666;
  }

  .close-button {
    position: absolute;
    top: 0;
    left: -10px;
    padding: 1em;
    cursor: pointer;
  }

  .desktop-header-menu {
    display: none;
  }

  .item-menu {
    margin-left: 10px;
    font-size: 25px;
    align-self: center;
  }

  .desktop-header-menu-mobile{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s ease-in-out;
  }

}
