footer {
  background-color: #202020;
}
a {
  color: rgb(234, 30, 30);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon {
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  color: rgb(234, 30, 30);
  transform: scale(1.4);
}
